{% extends 'WarlordsGameBundle::layout.html.twig' %}
{% block body %}
    <div class="mainitem">
		<div class="header">
			<div class="title"><h1>PAGE NOT FOUND</h1></div>
		</div>
		<div class="content">
		    <h2>Oops! The page requested cannot be found.</h2>
            <p>If you think this is an error, please <a href="{{ path("WarlordsGameBundle_contact") }}">contact us</a> regarding the issue, and our team will get back to you as soon as possible!</p>
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}


