{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="mainitem">
		<div class="header">
            <div class="title"><h1>REGISTRATION CONFIRMED</h1></div>
        </div>
        <div class="content">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>
                {% endif %}
            {% endif %}
        </div>
		<div class="footer"></div>
	</div>
{% endblock body %}
