{# src/Warlords/GameBundle/Resources/views/Page/about.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block body %}
    <div class="mainitem">
		<div class="header">
			<div class="title"><h1>ABOUT WARLORDS</h1></div>
		</div>
		<div class="content">
            <p>Warlords is a text-based social network game. The goal of the game is to gain as much resource as possible by investing or attacking other players. Players will gain gold and experiences on an hourly basis to spend on purchasing of soldiers, land, and spells. Players can form alliances with other players, or join guilds in endeavours to acquire castles from other guilds.</p>
            <p>Right now Warlords is still in the beta stage, but in the near future we would like to have all the features implemented, and develop a story line to make it also an rpg based game.</p>
            <p>Current Features:
                <ul class="featurelist">
                    <li>Level system</li>
                    <li>Fame system</li>
                    <li>Ranking system</li>
                    <li>Alliance system</li>
                    <li>Messaging system</li>
                    <li>Attacking Mechanism</li>
                </ul>
            </p>
		    
            <p>Future Features:
                <ul class="featurelist">
                    <li>Skills system</li>
                    <li>Guild and Guild War</li>
                    <li>Defending Mechanism</li>
                </ul>
            </p>
		
            <p>For more information on each feature, visit our <a href="{{ path('WarlordsGameBundle_guide') }}">Game Guide</a> page!</p>
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}
