{# src/Warlords/GameBundle/Resources/views/Page/guide.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block body %}
    <div class="mainitem">
		<div class="header">
			<div class="title"><h1>GAME GUIDE</h1></div>
		</div>
		<div class="content">
		<h2>Welcome</h2>
		<p>to Warlords ! The goal to this game is to create the wealthiest and the strongest empire ever. You will have to manage your men and your income to successfully defend against attacks and attack unsuspecting enemies. Collect gold, land and fame and mark your place in the ranking board.
		</p>
		<h2>Resources</h2>
		<p>Every hour your land will produce gold. For example, 2000 land will produce 2000 gold every hour. However, keep in mind that your troops will also cost gold to maintain. Thus you need to balance the amount of troops for the land that you own.

		In order to maximize your land, you will need to attack other players to gain their land. For that purpose, you will need troops. Troops can be purchased directly from your profile page.
		</p>

		<h2>Troops</h2>
		<p>
		There are 3 types of troops in Warlords: <br />

		Soldiers cost the least to purchase but has the highest upkeep. <br />
		Knights costs more, but is better for defense and upkeep. <br />
		Calvary costs the most and gives the most attack for the upkeep.
		However they have terrible defense for the upkeep.<br />
		</p>

		<p> If the upkeep from your troops exceeds your income from the land. You will lose men until your upkeep lowers to less than your income. When this happens, attack other players to gain more land while you lose the soldiers.
		</p>

		<h2>Allies</h2>
		<p>
			You will be able to create an alliance with your friends. Within an alliance, players can send troops to each other to help with attack and defense. Think twice before attacking an alliance member as you can be retaliated by the alliance.
		</p>
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}
