{# src/Warlords/GameBundle/Resources/views/Page/index.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}

{% block body %}
    <div class="mainitem">
		<div class="header">
			<div class="title"><h1>RECENT NEWS</h1></div>
		</div>
		<div class="content">
			<p>Hello! This is our first news!</p>
			
		</div>
		<div class="footer"></div>
	</div>
{% endblock %}

