{# src/Warlords/GameBundle/Resources/views/Page/player.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}


{% block title %}Players{% endblock%}

{% block body %}
    <header>
        <h2>Template Players List and Search</h2>
    </header>


{% autoescape true %}

{% endautoescape%}
{% endblock %}

{% block sidebar %}
    {# empty content #}
{% endblock %}
