{# src/Warlords/GameBundle/Resources/views/Page/profile.html.twig #}

 
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Profile{% endblock%}

{% block body %}
    <header>
        <h2>Template profile</h2>
    </header>


{% autoescape true %}
	
	
        <input type="submit" value="Submit" />
    </form>
{% endautoescape%}
{% endblock %}

{% block sidebar %}
    {# empty content #}
{% endblock %}
