/* Base Settings */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
a { text-decoration: none; color: #08C; transition: all 0.3s ease-out; position: relative; padding: .5em; margin: -.5em; }
a:hover { color: #0AF; }
a:active {outline: none;} 

/* Shorthand Classes */

.float-left { float: left; }
 
.float-right { float: right; }

.hide { display: none; }
 
.show { display: block; }

.disabled { pointer-events: none; opacity: 0.5; }

.clear { clear: both; }

/* Body */
html, body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #FFF; font-size: 14px; 
	background: #000;
	/*background-image:url('../images/bg1.jpg');
	background-attachment:fixed;*/
	text-align: center;}

#container { margin: 0px auto; width: 960px;  height: auto !important; min-height: 100%; height: 100%; background-color:#10100f; text-align: left; position: relative; 
	background-image:url('../images/warlord_bg_bar.jpg'); background-repeat:repeat-y; }

#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }

/* Header */
#header { margin-bottom: 20px; height: 250px; position:relative; background-image:url('../images/warlord_bg.jpg'); background-repeat:no-repeat; }
#header h2 { font-family: 'Verdana', cursive; font-size: 40px; text-align: center; line-height: 110px; }
#header h2 a { color: #000; }

/* Menu */
#header .top { solid #ccc; margin-bottom: 10px; text-align: center; width:100% }

#header ul.navigation { list-style: none; text-align: center; margin:30px auto 0px auto; height:43px; position:absolute; left:14px; bottom:0; width: 927px; 
	/* Rounded Corners */  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px;  
    /* Background color and gradients */  
    background: #110e0c;  
    background: -moz-linear-gradient(top, #2d221c, #0c0908);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2d221c), to(#0c0908));  
    /* Borders */  
    border: 1px solid #002232;  
    -moz-box-shadow:inset 0px 0px 1px #edf9ff;  
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;  
    box-shadow:inset 0px 0px 1px #edf9ff;  }

#header .navigation li {  float:left;  
    display:block;  
    text-align:center;  
    position:relative;  
    padding: 12px 30px 4px 30px;  
    margin-right:0px;  
    margin-top:2px;  
	height: 24px;
      }

#header .navigation li:hover {  
    /* Background color and gradients */  
    background: #413124;  
    background: -moz-linear-gradient(top, #413124, #140f0b);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#413124), to(#140f0b));  
    }

#header .navigation li a {    
    font-size:14px;  
    color: #EEEEEE;  
    display:block;  
    outline:0;  
    text-decoration:none;  
    text-shadow: 1px 1px 1px #000;   }

#header .navigation li:hover a {  
    color:#161616;  
    text-shadow: 1px 1px 1px #FFFFFF;  
    }  

#header .navigation li:hover ul{
	display: block;
}

#header .navigation li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
	 }

 
#header ul.navigation li ul li{
   float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#header ul.navigation li ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#header ul.navigation li ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #header ul.navigation li ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #header ul.navigation li ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#header ul.navigation li ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#header ul.navigation li ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#header ul.navigation li ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#header ul.navigation li ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#header ul.navigation li ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Content Container */
#content { display: block; position:absolute; left:0; top:250px; width:100%; height: auto; bottom:0; background-image:url('../images/warlord_bg.jpg'); background-repeat:no-repeat; background-position:0px -250px; }

/* Sidebar */
.sidebar { display: block;
    position:absolute;
	width: 200px;
    height:auto;
    bottom:0;
    top:0;
    left:15px;
    right:0;
	padding: 10px; 
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
 }

/* Main Content */
.main-col { display: block;
    position:absolute;
	width: 708px;
    height:auto;
    bottom:0;
    top:0;
    left:215px;
	right:0;
	padding: 10px; 
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    float: left; }
.main-col a { color: #F48A00; }
.main-col h1, .main-col h2 { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; font-weight: normal; color: #F48A00; }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }


/* Footer */
#footer { text-align: center; color: #aaa; height: 20px; padding-top:5px; position: fixed; bottom: 0; left: 154px; width: 949px; background-color: #171310 }


