Warlords\GameBundle\Entity\User:
    type: entity
    table: user
    id:
        id:
            type: integer
            generator: {strategy: AUTO}
    fields:
        username:
            type: string
            length: 255
            unique: true
        salt:
            type: string
            length: 255
            nullable: true
        password:
            type: string
            length: 255
        email:
            type: string
            length: 100
            nullable: true
        guild:
            type: string
            length: 255
            nullable: true
        land:
            type: integer
        gold:
            type: integer
        army:
            type: integer
        isActive:
            type: boolean
            
    oneToMany:
        allies:
            targetEntity: Ally
            mappedBy: user
    lifecycleCallbacks: {  }
