{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="mainitem">
	    <div class="header">
		    <div class="title"><h1>RESET EMAIL SENT</h1></div>
	    </div>
	    <div class="content center">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
        </div>
	    <div class="footer"></div>
    </div>
{% endblock %}
