{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
<div class="mainitem">
	<div class="header">
		<div class="title"><h1>RESET REQUESTED</h1></div>
	</div>
	<div class="content">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
	<div class="footer"></div>
</div>
{% endblock body %}
