{# src/Warlords/GameBundle/Resources/views/Player/result.html.twig #}
{% extends 'WarlordsGameBundle::layout.html.twig' %}


{% block title %}Battle Result{% endblock%}

{% block body %}
	<div><p>Battle is to be implemented</p></div>
{% endblock %}






